# OPERATORS

In [ ]:
# Pemdas
P
Parentheses first
E
Exponents (ie Powers and Square Roots, etc.)
MD
Multiplication and Division (left-to-right)
AS
Addition and Subtraction (left-to-right)

+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, !=, <> # Logical Operator

and, or # Combine logic checking

# +, -, * , /, %, //,** # Mathmatics

In [4]:
5+3

8

In [5]:
7-6

1

In [6]:
8*4

32

In [9]:
50/5

10.0

In [10]:
15%4

3

In [11]:
15/4

3.75

In [12]:
15//4

3

# 15//4.0

In [14]:
# 4 * 4 * 4 =64 
4 ** 3

64

In [19]:
2 + 6 * 8 / 5 + (2*3)

17.6

# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [50]:
a = " Pakistan "
a

' Pakistan '

In [51]:
a += " Zindabad "
a

' Pakistan  Zindabad '

In [52]:
a *= 2
a

' Pakistan  Zindabad  Pakistan  Zindabad '

In [53]:
a = 15
a %= 4
a

3

In [54]:
#3 * 3 * 3
a **= 3
a

27

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [57]:
2 == 2

True

In [58]:
2 == 1

False

In [59]:
2 > 1

True

In [60]:
2 < 1

False

In [61]:
2 >= 2

True

In [62]:
2 != 2

False

In [63]:
6 < 6

False

In [2]:
6 <= 6

True

In [3]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [4]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and False and True
# False

False

In [5]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [6]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [7]:
a = '1'
b = '1'
a + b

'11'

# Control Flow

loop (for , while) exception if else elif switch

# If, else, elif

if logic: true value else: false valueif logic1: true value 1 elif logic2: true value 2 elif logic3: true value 3 else: false valueif logic1 and logic2 and logic3: value true else: false value

In [8]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Namemehroz
Student

In [1]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

namesmehroz
nameszain
namesx

['mehroz', 'zain']